<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skyrim String Search Engine</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Поиск переводов Skyrim</h1>
        <form id="searchForm">
            <input type="text" id="searchQuery" placeholder="Введите текст для поиска..." required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
            <button type="submit">Искать</button>
        </form>
        
        <div class="search-stats">
            Найдено: <span id="matches-count">0</span> из <span id="total-count">0</span>
        </div>
        <div id="results"></div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
